<div class="container-60 users users__editar">
    <div class="field">
      <h2 class="users__titulo"><strong>Reenviando instrucciones de confirmación</strong></h2>
    </div>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :correo_electrónico %><br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Reenviar instrucciones de confirmación" %>
  </div>
<% end %>
<div class="field">
  <%= render "devise/shared/links" %>
</div>
</div>
