<div class="container">
  <div class="container_form">
    <div class="field">
      <h1>Artículo: <span><%= @article.title %></span></h1>
    </div>
    <div class="field">
      <%= image_tag @article.image.url(:medium) %>
    </div>
    <div class="row">
      <div class="field col-md-8">
        <h4><strong>Descripción:</strong></h4>
      <p><%= @article.description %></p>
      </div>
      <div class="field col-md-4">
        <h4><strong>Categorías:</strong></h4>
      <% @article.category.each do |category| %>
      <%= link_to category.title, category %>, 
      <% end %>
      </div>
    </div>
    <hr>
    <div class="field">
      <% if user_signed_in? && current_user.is_asistant? || user_signed_in? && current_user.is_admin? %>
      <%= link_to 'Editar', edit_article_path(@article) %> |
      <%= link_to 'Artículos', articles_path %> |
      <%= link_to 'Regresar', :back %>
      <% else %>
      <%= link_to 'Artículos', articles_path %> |
      <%= link_to 'Regresar', :back %>
      <% end %>
    </div>
  </div>
</div>
