<div class="container">
  <div class="container_form container_index">
  <h1><strong>Usuarios</strong></h1>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Nivel</th>
          <th colspan="3"></th>
        <tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
          <% if user.name.blank? %>
            <td></td>
          <% else %>
            <td><%= link_to user.name, user %></td>
          <% end %>
          <% if user.email.blank? %>
            <td></td>
          <% else %>
            <td><%= user.email %></td>
          <% end %>
          <%case user.permission_level
            when 1 %>
            <td>Usuario</td>
            <% when 2 %>
            <td>Asistente</td>
            <% when 3 %>
            <td>Admin</td>
          <%end%>
            <td><%= link_to  "Detalle", user %></td>
            <td><%= link_to  "Editar", edit_user_path(user) %></td>
            <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Estás seguro de eliminar este usuario?' } %></td>
          <% end %>
          </tr>
        </tbody>
      </table>
      <div class="field">
        <%= link_to "Regresar", :back %> 
      </div>
    </div>
  </div>
</div>
