<div class="container">
  <div class="container_form container_index">
    <h1><strong>Proyectos</strong></h1>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th colspan="1"></th>
            <th>Titulo</th>
            <th>Descripción</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
          <tr>
          <td><%= link_to (image_tag project.image.url(:thumb)), project %></td>
          <% if project.title.blank? %>
            <td></td>
          <% else %>
            <td><%= project.title %></td>
          <% end %>
          <% if project.description.blank? %>
            <td></td>
          <% else %>
            <td><%= truncate(project.description, length: 30) %></td>
          <% end %>
            <td><%= link_to 'Detalle', project %></td>
            <% if user_signed_in? && current_user.is_asistant? %>
            <td><%= link_to 'Editar', edit_project_path(project) %></td>
            <% end %>
            <% if user_signed_in? && current_user.is_admin? %>
            <td><%= link_to 'Eliminar', project, method: :delete, data: { confirm: '¿Estás seguro de eliminarlo?' } %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>
    <div class="field">
      <% if user_signed_in? && current_user.is_asistant? || user_signed_in? && current_user.is_admin? %>
      <%= link_to 'Nuevo Proyecto', new_project_path %> |
      <%= link_to "Regresar", :back %>
      <% else %>
      <%= link_to "Regresar", :back %>
      <% end %>
    </div>
  </div>
</div>