$grisclaro: #aeaeae;
$grisoscuro: #1e1e1e;
%hover{
  background: aqua !important;
  color: $grisoscuro !important;
}
%boton{
  min-width: 30% !important;
  margin:0 auto;
  padding-top: .3em;
  padding-bottom: .3em;
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
  background:$grisoscuro;
  color: $grisclaro;
}
%min-60{
  min-width: 60% !important;
  margin:0 auto;
}
%min-80{
  min-width: 80% !important;
  margin:0 auto;
}
%min-100{
  min-width: 100% !important;
  margin:0 auto;
}
%max-60{
  max-width: 60% !important;
  margin:0 auto;  
}
%max-80{
  max-width: 80% !important;
  margin:0 auto;
}
%max-100{
  max-width: 100% !important;
  margin:0 auto;
}
