// Place all the styles related to the Welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home{
  
  &__boton{
    margin-right: 1em;
    width: 150px;
  }
  &__container{
    margin-top: 50px;
    background: white;
  }
}