<div class="container">
  <div class="container_form container_index">
    <h1><strong>Categorías</strong></h1>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <% if category.title.blank? %>
                <td></td>
              <% else %>
                <td><%= link_to category.title, category %></td>
              <% end %>
              <% if category.description.blank? %>
                <td></td>
              <% else %>
                <td><%= truncate(category.description, length: 30) %></td>
              <% end %>
              <td><%= link_to 'Detalle', category %></td>
              <% if user_signed_in? && current_user.is_asistant? %>
                <td><%= link_to 'Editar', edit_category_path(category) %></td>
              <% end %>
              <% if user_signed_in? && current_user.is_admin? %>
                <td><%= link_to 'Eliminar', category, method: :delete, data: { confirm: '¿Estás seguro de eliminarlo?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>
    <div class="field">
      <% if user_signed_in? && current_user.is_asistant? || user_signed_in? && current_user.is_admin? %>
      <%= link_to 'Nueva Categoría', new_category_path %> |
      <%= link_to "Regresar", :back %>
      <% else %>
      <%= link_to "Regresar", :back %>
      <% end %>
    </div>
  </div>
</div>
