<h2>Bienvenido <%= @email %>!</h2>

<p>Puedes confirmar tu cuenta siguiendo el enlace de abajo:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
