<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "AlexBallera", "/", class:"navbar-brand brand" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to "Artículos", "/articles", class:"navbar-item"  %></li>
          <li><%= link_to "Proyectos", "/projects", class:"navbar-item"  %></li>
          <li><%= link_to "Categorías", "/categories", class:"navbar-item"  %></li>
        <% end %>
        <%if user_signed_in? && current_user.is_admin? %>
          <li><%= link_to "Usuarios", "/users", class:"nav_item"  %></li>
        <%end%>
        <% if current_user %>
          <li><%= link_to 'Editar Perfil', edit_user_registration_path %></li>
          <li><%= link_to 'Salir', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Iniciar', new_user_session_path %></li>
          <li><%= link_to 'Regístrate', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
